doctype html
html(lang="en")
  head
    meta(author='pynnl')
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title hashnum
  body
    #app
    script(src='main.js')