*
  margin 0
  padding 0
  box-sizing border-box

#app
  display flex
  flex-flow column
  justify-content space-between
  min-height 100vh
  background $color-primary-0

#header
  display flex
  justify-content center
  align-items center
  height 100px
  color $color-secondary-2-0
  -webkit-text-stroke 2px $color-primary-1
  font-family Lucida Console
  font-size 50px
  font-weight bold
  letter-spacing 20px

  img
    padding 3px
    height 60px
    background $color-primary-1
    border-radius 50%

    &:hover
      background $color-primary-2

#body
  padding-bottom 30px
  display flex
  justify-content center
  flex 1

#footer
  display flex
  justify-content center
  height 50px
  color $color-primary-1
  font-family sans-serif

a:link, a:visited
  text-decoration none
  color inherit

a:hover
  color $color-primary-2

@media (max-width 500px)
  #header
    letter-spacing 5px
  #body
    flex-direction column