*
  margin 0
  padding 0
  box-sizing border-box

#app
  display flex
  flex-flow column
  justify-content space-between
  min-height 100vh
  background $color-complement-2

#header
  display flex
  justify-content center
  align-items center
  flex 1
  color $color-secondary-1-4
  font-family Lucida Console
  font-size 50px
  font-weight bold
  letter-spacing 20px

#body
  display flex
  justify-content center
  flex 1