// SASS style sheet 
// Palette color codes 
// Palette URL: http://paletton.com/#uid=70u0u0kaVz816OO3KM-kaq3p-m8 */
// Feel free to copy&paste color codes to your application */
// As hex codes */
$color-primary-0 = #ffcfa8
// Main Primary color */
$color-primary-1 = #fffaf6
$color-primary-2 = #ffefe1
$color-primary-3 = #d0884d
$color-primary-4 = #b06323
$color-secondary-1-0 = #ffe2a8
// Main Secondary color (1) */
$color-secondary-1-1 = #fffcf6
$color-secondary-1-2 = #fff5e1
$color-secondary-1-3 = #d0a44d
$color-secondary-1-4 = #b08123
$color-secondary-2-0 = #7c8db3
// Main Secondary color (2) */
$color-secondary-2-1 = #d8dadf
$color-secondary-2-2 = #c2c9d9
$color-secondary-2-3 = #3d548b
$color-secondary-2-4 = #223b76
$color-complement-0 = #6ba3a3
// Main Complement color */
$color-complement-1 = #d1d8d8
$color-complement-2 = #b9d1d1
$color-complement-3 = #2e7d7d
$color-complement-4 = #156a6a
// As RGBa codes */
$rgba-primary-0 = rgba(255, 207, 168, 1)
// Main Primary color */
$rgba-primary-1 = rgba(255, 250, 246, 1)
$rgba-primary-2 = rgba(255, 239, 225, 1)
$rgba-primary-3 = rgba(208, 136, 77, 1)
$rgba-primary-4 = rgba(176, 99, 35, 1)
$rgba-secondary-1-0 = rgba(255, 226, 168, 1)
// Main Secondary color (1) */
$rgba-secondary-1-1 = rgba(255, 252, 246, 1)
$rgba-secondary-1-2 = rgba(255, 245, 225, 1)
$rgba-secondary-1-3 = rgba(208, 164, 77, 1)
$rgba-secondary-1-4 = rgba(176, 129, 35, 1)
$rgba-secondary-2-0 = rgba(124, 141, 179, 1)
// Main Secondary color (2) */
$rgba-secondary-2-1 = rgba(216, 218, 223, 1)
$rgba-secondary-2-2 = rgba(194, 201, 217, 1)
$rgba-secondary-2-3 = rgba(61, 84, 139, 1)
$rgba-secondary-2-4 = rgba(34, 59, 118, 1)
$rgba-complement-0 = rgba(107, 163, 163, 1)
// Main Complement color */
$rgba-complement-1 = rgba(209, 216, 216, 1)
$rgba-complement-2 = rgba(185, 209, 209, 1)
$rgba-complement-3 = rgba(46, 125, 125, 1)
$rgba-complement-4 = rgba(21, 106, 106, 1)
// Generated by Paletton.com © 2002-2014 
// http://paletton.com */